{% extends "base_new.html" %}
{% load static %}
{% block head %}
    {% csrf_token %}
    <head>
        {% if not debug %}
            <link href="{% static '/src/estimation_edit/dist/estimation_edit/css/main.css' %}"
                  rel="stylesheet">
        {% endif %}
        <title>Редактировать прайс-лист</title>
    </head>
{% endblock %}
<body >
    {% block content %}<div id="app"></div>{% endblock %}
    {% block scripts %}
        {% if debug %}
            <script type="module" src="http://10.0.0.3:4000/@vite/client"></script>
            <script type="module" src="http://10.0.0.3:4000/src/main.ts"></script>
        {% else %}
            <script type="module"
                    src="{% static '/src/estimation_edit/dist/estimation_edit/js/main.js'%}"></script>
            {% comment %} <script type="module"
                    src="{% static '/src/estimation_edit/dist/estimation_edit/js/vendor.js'%}"></script> {% endcomment %}
        {% endif %}
    </body>
{% endblock %}