<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    {% block head %}{% endblock %}
    <link href="/static/src/base2/dist/css/app.css" rel="preload" as="style" />
    <link href="/static/src/base2/dist/js/app.js" rel="preload" as="script" />
    <link
      href="/static/src/base2/dist/js/chunk-vendors.js"
      rel="preload"
      as="script"
    />
    <link href="/static/src/base2/dist/css/app.css" rel="stylesheet" />
  </head>
  <body class="override">
    <nav class="navbar navbar-expand-lg navbar-light mb-5">
      <div class="container">
        <a class="navbar-brand" href="#">Unirock</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/estimation/new">Новый расчет</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/estimation/list">Все расчеты</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pricelist/acryl" tabindex="-1"
                >Прайс акрила</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pricelist/quartz" tabindex="-1"
                >Прайс кварца</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/production/table" tabindex="-1"
                >График</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {% block content %}{% endblock %} {% block scripts %}{% endblock %}
    <script src="/static/src/base2/dist/js/chunk-vendors.js"></script>
    <script src="/static/src/base2/dist/js/app.js"></script>
  </body>
</html>
