{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        {% block head %}
            <title>Прайс-лист Акрил</title><style>
      {% for manufacturer in manufacturers %}
      .{{ manufacturer.f_name }} {
        background-color: {{ manufacturer.card_color }} !important;
      }
      {% endfor %}
            </style>
            <link href="/static/src/pricelist/dist/css/app.css"
                  rel="preload"
                  as="style">
            <link href="/static/src/pricelist/dist/js/app.js" rel="preload" as="script">
            <link href="/static/src/pricelist/dist/js/chunk-vendors.js"
                  rel="preload"
                  as="script">
            <link href="/static/src/pricelist/dist/css/app.css" rel="stylesheet">
        </head>
    {% endblock %}
    <body>
        <noscript><strong>Без JS не работает(</strong></noscript>
        {% block content %}<div id="app"></div>{% endblock %}
        {% block scripts %}
            <script src="/static/src/pricelist/dist/js/chunk-vendors.js"></script><script src="/static/src/pricelist/dist/js/app.js"></script>
        </body>
    </html>
{% endblock %}
